.board{
    width: 500px;
    height: 730px;
    position: absolute;
    border: 1px solid black;
    position: relative;
    left: 80px;

}

.sky{
    background-color: lightblue;
    width: 500px;
    height: 580px;
    position: absolute;
    background-image: url("./backgroundImg.png");
}

.ground{
    background-color: lightgreen;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
    background-image: url("./groundImg.png");
}

.bird {
    position: absolute;
    width: 60px;
    height: 45px;
    background-color: rebeccapurple;
    border-radius: px;
}

.obstacle{
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    transform: rotate(180deg);
    background-color: green;
    width: 60px;
    height: 400px;
    position: absolute;
}

.border-left {
    width: 80;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +1;
}

.border-right{
    width: 80;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +1;
    left: 580;
}